.collection-preview {
   margin-bottom: 20px;
   & .collection {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   & .title {
      font-size: 30px;
      margin-bottom: 25px;
      text-transform: uppercase;
      color: #4a4a4a;
      text-align: center;
   }
   & .see-more-button {
      display: block;
      margin-left: auto;
   }
}
