.collection-preview {
   margin-bottom: 20px;
   & .collection {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   & .title {
      margin-bottom: 10px;
   }
   & .see-more-button {
      display: block;
      margin-left: auto;
   }
}
